* {
    border-radius: 0;
}

.ringing-name {
    font-size: 2em;
}

.ringing-time {
    font-size: 3em;
}

.time-input-box > label {
    background: #ffffff05;
}

.time-box {
    font-size: 1.5em;
}

.overview-alarm-time {
    font-size: 3em;
}

.overview-alarm-button {
    background: none;
    box-shadow: none;
    border: none;
}

.overview-alarm-button:hover {
    color: rgb(128, 128, 128);
}
